flows_fixed.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "IoT Room API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8582c43661cc5354",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Register - HTTP In",
        "url": "/api/v1/auth/register",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "020327d2f905e730"
            ]
        ]
    },
    {
        "id": "849acba8de0914e2",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Register - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "020327d2f905e730",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Register - Process",
        "func": "// 检查请求体\nconst name = msg.req.body.name;\nconst file = msg.req.files && msg.req.files.file;\n\nconsole.log('Register request:', { name, hasFile: !!file, bodyKeys: Object.keys(msg.req.body || {}), fileKeys: Object.keys(msg.req.files || {}) });\n\nif (!name) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"缺少必要参数: name\" };\n    return msg;\n}\n\nif (!file) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"缺少必要参数: file\" };\n    return msg;\n}\n\n// 生成用户ID\nconst userId = 'user_' + Date.now();\n\nconsole.log('注册用户:', name, '文件:', file.originalname || file.name);\n\nmsg.payload = {\n    id: userId,\n    name: name,\n    avatarUrl: `data:${file.mimetype || 'image/jpeg'};base64,${file.buffer.toString('base64')}`,\n    registeredAt: Date.now()\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "849acba8de0914e2"
            ]
        ]
    },
    {
        "id": "872b033bd2d38463",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Recognize - HTTP In",
        "url": "/api/v1/auth/recognize",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "40881ac25022636a"
            ]
        ]
    },
    {
        "id": "8f43e13bc0064959",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Recognize - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "40881ac25022636a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Recognize - Process",
        "func": "const file = msg.req.files && msg.req.files.file;\n\nconsole.log('Recognize request:', { hasFile: !!file, bodyKeys: Object.keys(msg.req.body || {}), fileKeys: Object.keys(msg.req.files || {}) });\n\nif (!file) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"缺少必要参数: file\" };\n    return msg;\n}\n\n// TODO: 后续集成人脸识别\n// 暂时返回404表示未识别到\nconsole.log('接收待识别人脸:', file.originalname || file.name);\n\nmsg.statusCode = 404;\nmsg.payload = { message: \"未识别到已知用户\" };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "8f43e13bc0064959"
            ]
        ]
    },
    {
        "id": "5772f0db946eb78d",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Get Devices - HTTP In",
        "url": "/api/v1/devices",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "6b9bdadefbc1f3ed"
            ]
        ]
    },
    {
        "id": "7f2f150f55c8815e",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Get Devices - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b9bdadefbc1f3ed",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Get Devices - Return Data",
        "func": "// 返回完整的设备列表（包含所有14个设备）\nmsg.payload = [\n    // 10个可控制设备\n    { id: 'light-main', name: '智能吸顶灯', type: 'LIGHT', isOn: true, position: [0, 2.9, 0], color: '#ffffff', value: 80 },\n    { id: 'ac', name: '空调', type: 'AC', isOn: false, position: [-4.8, 2.4, 0], rotation: [0, 1.5707963267948966, 0], value: 24 },\n    { id: 'curtain', name: '智能窗帘', type: 'CURTAIN', isOn: false, position: [4.9, 1.5, 0], rotation: [0, 1.5707963267948966, 0], value: 0 },\n    { id: 'desk', name: '升降桌', type: 'DESK', isOn: true, position: [0, 0, 0], rotation: [0, -1.5707963267948966, 0], value: 75 },\n    { id: 'projector', name: '投影仪', type: 'PROJECTOR', isOn: false, position: [0, 2.8, 2], rotation: [0, 3.141592653589793, 0] },\n    { id: 'purifier', name: '空气净化器', type: 'PURIFIER', isOn: true, position: [-4.2, 0, -4.2], rotation: [0, 0.7853981633974483, 0], value: 'Auto' },\n    { id: 'humidifier', name: '加湿器', type: 'HUMIDIFIER', isOn: false, position: [-4.5, 0, 2.5], rotation: [0, 1.5707963267948966, 0] },\n    { id: 'robot', name: '扫地机器人', type: 'ROBOT', isOn: false, position: [3, 0.1, -3] },\n    { id: 'sensor', name: '温湿度传感器', type: 'SENSOR', isOn: true, position: [-4.95, 1.5, 1], rotation: [0, 1.5707963267948966, 0], value: '24°C / 45%' },\n    // 4个摄像头设备（前端会过滤掉，但API需要返回）\n    { id: 'cam-1', name: '摄像头 (前左)', type: 'CAMERA', isOn: true, position: [-4.5, 2.8, -4.5], rotation: [0, -0.7853981633974483, -0.5235987755982988] },\n    { id: 'cam-2', name: '摄像头 (前右)', type: 'CAMERA', isOn: true, position: [4.5, 2.8, -4.5], rotation: [0, 0.7853981633974483, -0.5235987755982988] },\n    { id: 'cam-3', name: '摄像头 (后左)', type: 'CAMERA', isOn: true, position: [-4.5, 2.8, 4.5], rotation: [0, -2.356194490192345, -0.5235987755982988] },\n    { id: 'cam-4', name: '摄像头 (后右)', type: 'CAMERA', isOn: true, position: [4.5, 2.8, 4.5], rotation: [0, 2.356194490192345, -0.5235987755982988] }\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "7f2f150f55c8815e"
            ]
        ]
    },
    {
        "id": "3f2dbfba3f4b3ff3",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Toggle Device - HTTP In",
        "url": "/api/v1/devices/:id/toggle",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "c3bf79fdfa2f23ae"
            ]
        ]
    },
    {
        "id": "48d86539c94037b9",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Toggle Device - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "c3bf79fdfa2f23ae",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Toggle Device - Logic",
        "func": "const deviceId = msg.req.params.id;\n\n// TODO: 更新设备状态到 ThingsBoard\n// 暂时返回模拟的切换结果\nconsole.log('Toggling device:', deviceId);\n\n// 这里应该从 ThingsBoard 获取当前状态并切换\n// 暂时返回模拟数据（默认返回 true 表示开启）\nconst isOn = true;\n\nmsg.payload = { id: deviceId, isOn: isOn };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 360,
        "wires": [
            [
                "48d86539c94037b9"
            ]
        ]
    },
    {
        "id": "aa1e2b3c4d5e6f7g",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Update Device Value - HTTP In",
        "url": "/api/v1/devices/:id/value",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "dd1e2b3c4d5e6f7g"
            ]
        ]
    },
    {
        "id": "ee1e2b3c4d5e6f7g",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Update Device Value - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "dd1e2b3c4d5e6f7g",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Update Device Value - Logic",
        "func": "const deviceId = msg.req.params.id;\nconst { value } = msg.req.body; // { value: 25 } or { value: 80 }\n\nif (value === undefined || value === null) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"缺少必要参数: value\" };\n    return msg;\n}\n\n// TODO: 更新设备状态到 ThingsBoard\nconsole.log('Updating device value:', deviceId, 'to:', value);\n\nmsg.payload = { id: deviceId, value: value };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 440,
        "wires": [
            [
                "ee1e2b3c4d5e6f7g"
            ]
        ]
    },
    {
        "id": "ff1e2b3c4d5e6f7g",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Batch Update Devices - HTTP In",
        "url": "/api/v1/devices/batch",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "gg1e2b3c4d5e6f7g"
            ]
        ]
    },
    {
        "id": "hh1e2b3c4d5e6f7g",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Batch Update Devices - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "gg1e2b3c4d5e6f7g",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Batch Update Devices - Logic",
        "func": "const updates = msg.req.body; // [{ id: 'ac', isOn: true }, { id: 'light-main', value: 50 }]\n\nif (!Array.isArray(updates)) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"请求体必须是数组\" };\n    return msg;\n}\n\nif (updates.length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { message: \"更新数组不能为空\" };\n    return msg;\n}\n\n// TODO: 批量更新设备状态到 ThingsBoard\nconsole.log('Batch updating devices:', updates);\n\nmsg.payload = { success: true, updated: updates.length, devices: updates };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "hh1e2b3c4d5e6f7g"
            ]
        ]
    },
    {
        "id": "ii1e2b3c4d5e6f7g",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "Update Device Full - HTTP In",
        "url": "/api/v1/devices/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "jj1e2b3c4d5e6f7g"
            ]
        ]
    },
    {
        "id": "kk1e2b3c4d5e6f7g",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Update Device Full - HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 600,
        "wires": []
    },
    {
        "id": "jj1e2b3c4d5e6f7g",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Update Device Full - Logic",
        "func": "const deviceId = msg.req.params.id;\nconst updates = msg.req.body; // { isOn: true, value: 25 }\n\n// TODO: 更新设备状态到 ThingsBoard\nconsole.log('Updating device (full):', deviceId, 'with:', updates);\n\nmsg.payload = { id: deviceId, ...updates };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 600,
        "wires": [
            [
                "kk1e2b3c4d5e6f7g"
            ]
        ]
    }
]
